/cmake-build-debug/.cmake/api/v1/query/cache-v2
/cmake-build-debug/.cmake/api/v1/query/cmakeFiles-v1
/cmake-build-debug/.cmake/api/v1/query/codemodel-v2
/cmake-build-debug/.cmake/api/v1/query/toolchains-v1
/cmake-build-debug/.cmake/api/v1/reply/cache-v2-9b87d9ccbb091dcc83c5.json
/cmake-build-debug/.cmake/api/v1/reply/cmakeFiles-v1-e310f35ce589f6f46639.json
/cmake-build-debug/.cmake/api/v1/reply/codemodel-v2-93c9f5491e7fa0e83720.json
/cmake-build-debug/.cmake/api/v1/reply/directory-.-Debug-d0094a50bb2071803777.json
/cmake-build-debug/.cmake/api/v1/reply/index-2025-01-08T13-03-26-0849.json
/cmake-build-debug/.cmake/api/v1/reply/target-bmm_v1-Debug-f5213e847f8bf00be90b.json
/cmake-build-debug/.cmake/api/v1/reply/target-bmm_v2-Debug-f854a36515816e9d34ad.json
/cmake-build-debug/.cmake/api/v1/reply/target-bmm_v3-Debug-ec3fa3ef736fc3843ecc.json
/cmake-build-debug/.cmake/api/v1/reply/target-bmm_v4-Debug-4773781762ad372341c6.json
/cmake-build-debug/.cmake/api/v1/reply/target-bmm_v5-Debug-d432701777a555e9d9ae.json
/cmake-build-debug/.cmake/api/v1/reply/target-bmm_v6-Debug-3135404bf697c991623c.json
/cmake-build-debug/.cmake/api/v1/reply/target-bmm_v7-Debug-f3bfde3c0fc961c282f8.json
/cmake-build-debug/.cmake/api/v1/reply/target-bmm_v8-Debug-88641e5076f9dc5907a5.json
/cmake-build-debug/.cmake/api/v1/reply/toolchains-v1-94efd7c52760cd71f426.json
/cmake-build-debug/CMakeFiles/3.29.6/CompilerIdC/a.exe
/cmake-build-debug/CMakeFiles/3.29.6/CompilerIdC/CMakeCCompilerId.c
/cmake-build-debug/CMakeFiles/3.29.6/CompilerIdCXX/a.exe
/cmake-build-debug/CMakeFiles/3.29.6/CompilerIdCXX/CMakeCXXCompilerId.cpp
/cmake-build-debug/CMakeFiles/3.29.6/CMakeCCompiler.cmake
/cmake-build-debug/CMakeFiles/3.29.6/CMakeCXXCompiler.cmake
/cmake-build-debug/CMakeFiles/3.29.6/CMakeDetermineCompilerABI_C.bin
/cmake-build-debug/CMakeFiles/3.29.6/CMakeDetermineCompilerABI_CXX.bin
/cmake-build-debug/CMakeFiles/3.29.6/CMakeRCCompiler.cmake
/cmake-build-debug/CMakeFiles/3.29.6/CMakeSystem.cmake
/cmake-build-debug/CMakeFiles/bmm_v8.dir/bmm_v8.cpp.obj
/cmake-build-debug/CMakeFiles/bmm_v8.dir/kernel.cpp.obj
/cmake-build-debug/CMakeFiles/FindOpenMP/ompver_C.bin
/cmake-build-debug/CMakeFiles/FindOpenMP/ompver_CXX.bin
/cmake-build-debug/CMakeFiles/clion-Debug-log.txt
/cmake-build-debug/CMakeFiles/clion-environment.txt
/cmake-build-debug/CMakeFiles/cmake.check_cache
/cmake-build-debug/CMakeFiles/CMakeConfigureLog.yaml
/cmake-build-debug/CMakeFiles/rules.ninja
/cmake-build-debug/CMakeFiles/TargetDirectories.txt
/cmake-build-debug/Testing/Temporary/LastTest.log
/cmake-build-debug/.ninja_deps
/cmake-build-debug/.ninja_log
/cmake-build-debug/build.ninja
/cmake-build-debug/cmake_install.cmake
/cmake-build-debug/CMakeCache.txt
/cmake-build-debug/libbmm_v1.dll
/cmake-build-debug/libbmm_v1.dll.a
/cmake-build-debug/libbmm_v2.dll
/cmake-build-debug/libbmm_v2.dll.a
/cmake-build-debug/libbmm_v3.dll
/cmake-build-debug/libbmm_v3.dll.a
/cmake-build-debug/libbmm_v4.dll
/cmake-build-debug/libbmm_v4.dll.a
/cmake-build-debug/libbmm_v5.dll
/cmake-build-debug/libbmm_v5.dll.a
/cmake-build-debug/libbmm_v6.dll
/cmake-build-debug/libbmm_v6.dll.a
/cmake-build-debug/libbmm_v7.dll
/cmake-build-debug/libbmm_v7.dll.a
/cmake-build-debug/libbmm_v8.dll
/cmake-build-debug/libbmm_v8.dll.a
/cmake-build-debug/libmm_col_maj.dll
/cmake-build-debug/libmm_col_maj.dll.a
/cmake-build-debug/libmm_row_maj.dll
/cmake-build-debug/libmm_row_maj.dll.a
/cmake-build-debug-visual-studio/.cmake/api/v1/query/cache-v2
/cmake-build-debug-visual-studio/.cmake/api/v1/query/cmakeFiles-v1
/cmake-build-debug-visual-studio/.cmake/api/v1/query/codemodel-v2
/cmake-build-debug-visual-studio/.cmake/api/v1/query/toolchains-v1
/cmake-build-debug-visual-studio/.cmake/api/v1/reply/cache-v2-45ad0df8e20c117adf2f.json
/cmake-build-debug-visual-studio/.cmake/api/v1/reply/cmakeFiles-v1-3fbc2dd76e218582813a.json
/cmake-build-debug-visual-studio/.cmake/api/v1/reply/codemodel-v2-96a747d5870f9624090c.json
/cmake-build-debug-visual-studio/.cmake/api/v1/reply/directory-.-Debug-d0094a50bb2071803777.json
/cmake-build-debug-visual-studio/.cmake/api/v1/reply/index-2025-01-08T13-03-27-0563.json
/cmake-build-debug-visual-studio/.cmake/api/v1/reply/target-bmm_v1-Debug-7cafbbddde5017971566.json
/cmake-build-debug-visual-studio/.cmake/api/v1/reply/target-bmm_v2-Debug-9767b50b75b6e4c8a75c.json
/cmake-build-debug-visual-studio/.cmake/api/v1/reply/target-bmm_v3-Debug-278ba63a57f4d9f89955.json
/cmake-build-debug-visual-studio/.cmake/api/v1/reply/target-bmm_v4-Debug-c939c66083f979875997.json
/cmake-build-debug-visual-studio/.cmake/api/v1/reply/target-bmm_v5-Debug-ca2d18ac00ccad24096c.json
/cmake-build-debug-visual-studio/.cmake/api/v1/reply/target-bmm_v6-Debug-93365f461affbbcb23cd.json
/cmake-build-debug-visual-studio/.cmake/api/v1/reply/target-bmm_v7-Debug-ea92c22243949e945d70.json
/cmake-build-debug-visual-studio/.cmake/api/v1/reply/target-bmm_v8-Debug-025fbd327d06cc4d4002.json
/cmake-build-debug-visual-studio/.cmake/api/v1/reply/toolchains-v1-86543f8bd1dd97a528d2.json
/cmake-build-debug-visual-studio/CMakeFiles/3.29.6/CompilerIdC/CMakeCCompilerId.c
/cmake-build-debug-visual-studio/CMakeFiles/3.29.6/CompilerIdC/CMakeCCompilerId.exe
/cmake-build-debug-visual-studio/CMakeFiles/3.29.6/CompilerIdC/CMakeCCompilerId.obj
/cmake-build-debug-visual-studio/CMakeFiles/3.29.6/CompilerIdCXX/CMakeCXXCompilerId.cpp
/cmake-build-debug-visual-studio/CMakeFiles/3.29.6/CompilerIdCXX/CMakeCXXCompilerId.exe
/cmake-build-debug-visual-studio/CMakeFiles/3.29.6/CompilerIdCXX/CMakeCXXCompilerId.obj
/cmake-build-debug-visual-studio/CMakeFiles/3.29.6/CMakeCCompiler.cmake
/cmake-build-debug-visual-studio/CMakeFiles/3.29.6/CMakeCXXCompiler.cmake
/cmake-build-debug-visual-studio/CMakeFiles/3.29.6/CMakeDetermineCompilerABI_C.bin
/cmake-build-debug-visual-studio/CMakeFiles/3.29.6/CMakeDetermineCompilerABI_CXX.bin
/cmake-build-debug-visual-studio/CMakeFiles/3.29.6/CMakeRCCompiler.cmake
/cmake-build-debug-visual-studio/CMakeFiles/3.29.6/CMakeSystem.cmake
/cmake-build-debug-visual-studio/CMakeFiles/bmm_v1.dir/CXXDependInfo.json
/cmake-build-debug-visual-studio/CMakeFiles/bmm_v2.dir/CXXDependInfo.json
/cmake-build-debug-visual-studio/CMakeFiles/bmm_v3.dir/CXXDependInfo.json
/cmake-build-debug-visual-studio/CMakeFiles/bmm_v4.dir/CXXDependInfo.json
/cmake-build-debug-visual-studio/CMakeFiles/bmm_v5.dir/CXXDependInfo.json
/cmake-build-debug-visual-studio/CMakeFiles/bmm_v6.dir/CXXDependInfo.json
/cmake-build-debug-visual-studio/CMakeFiles/bmm_v7.dir/CXXDependInfo.json
/cmake-build-debug-visual-studio/CMakeFiles/bmm_v8.dir/CXXDependInfo.json
/cmake-build-debug-visual-studio/CMakeFiles/FindOpenMP/ompver_C.bin
/cmake-build-debug-visual-studio/CMakeFiles/FindOpenMP/ompver_CXX.bin
/cmake-build-debug-visual-studio/CMakeFiles/ShowIncludes/foo.h
/cmake-build-debug-visual-studio/CMakeFiles/ShowIncludes/main.c
/cmake-build-debug-visual-studio/CMakeFiles/ShowIncludes/main.obj
/cmake-build-debug-visual-studio/CMakeFiles/clion-Debug-Visual Studio-log.txt
/cmake-build-debug-visual-studio/CMakeFiles/clion-environment.txt
/cmake-build-debug-visual-studio/CMakeFiles/cmake.check_cache
/cmake-build-debug-visual-studio/CMakeFiles/CMakeConfigureLog.yaml
/cmake-build-debug-visual-studio/CMakeFiles/rules.ninja
/cmake-build-debug-visual-studio/CMakeFiles/TargetDirectories.txt
/cmake-build-debug-visual-studio/Testing/Temporary/LastTest.log
/cmake-build-debug-visual-studio/.ninja_deps
/cmake-build-debug-visual-studio/.ninja_log
/cmake-build-debug-visual-studio/bmm_v2.dll
/cmake-build-debug-visual-studio/bmm_v2.ilk
/cmake-build-debug-visual-studio/bmm_v2.pdb
/cmake-build-debug-visual-studio/build.ninja
/cmake-build-debug-visual-studio/cmake_install.cmake
/cmake-build-debug-visual-studio/CMakeCache.txt
